

.crudAccount-container { 
  border-radius: 14px;
  margin-top: 30px;
  padding: 10px;
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
}
.account-panel{ 
  padding: 20px;
  display: flex;
  justify-content: space-between; 
}

.staffList{
  font-size: 30px;
  background-color: #F8B02C;
  height:  150px;
  width: 700px;
  border-radius: 20px;
  text-align: center;
  display: flex;              
  justify-content: center;   
  align-items: center;
    position: relative;
}
.crud-panel {
  background-color: #F8B02C;
  height:  555px;
  width: 730px;
  border-radius: 20px;
  text-align: center;
  display: flex;              
  justify-content: center;   
  align-items: center;

}
.rectangle{
  width: 10px;
  height: 20px;
  border-left: 13px solid transparent; /* Kích thước tam giác */
  border-right: 13px solid transparent; /* Kích thước tam giác */
  border-top: 13px solid #000000; 
  position: absolute;
  right: 10px;  
    
}
